.life {
  border-collapse: collapse;
  font-size: 0;
}
.life-border {
  border: 1px black solid;
}

.cell {
  display: inline-block;
  background-color: white;
  border: 1px black solid;
  margin: 1px;
}
.cell-alive {
  background-color: black;
}
.no-border {
  border: 0;
  margin: 0;
}

.cell:hover {
  background-color: #ddd;
}
.cell-alive:hover {
  background-color: #444;
}
